.matchresult-root {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.matchresult-card {
    width: 680px;
}

.matchresult-title {
    font-size: 48px;
    margin-bottom: 16px;
}

.matchresult-message {
    font-size: 30px;
    margin-bottom: 36px;
}

.matchresult-confirm {
    height: 100px;
    font-size: 34px;
}
