.mmf-root {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.mmf-card {
    width: 680px;
}

.mmf-title {
    font-size: 48px;
    margin-bottom: 16px;
}

.mmf-message {
    font-size: 30px;
    margin-bottom: 36px;
}

.mmf-confirm {
    height: 100px;
    font-size: 34px;
}
