.loading-root {
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    background-image: url("loading_screen.png");
    -unity-background-scale-mode: scale-and-crop;
}

.loading-text {
    font-size: 56px;
    margin-bottom: 72px;
}
