.loading-root {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: rgba(10, 10, 14, 0.96);
}

.loading-text {
    font-size: 32px;
    color: rgb(235, 235, 245);
    -unity-text-align: middle-center;
}
