.leave-root {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.leave-card {
    width: 460px;
}

.leave-actions {
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 16px;
}

.leave-button {
    margin-left: 12px;
}
