.race-start-root {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.race-start-text {
    font-size: 120px;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    -unity-text-outline-width: 3px;
    -unity-text-outline-color: rgba(0, 0, 0, 0.7);
}