.lobbyhome-root {
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-image: url("../Lobby/lobby_screen.png");
    -unity-background-scale-mode: scale-and-crop;
}

.lobbyhome-center {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.lobbyhome-play {
    width: 460px;
    height: 150px;
    font-size: 64px;
}

.lobbyhome-navbar {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 32px;
}

.lobbyhome-nav {
    width: 240px;
    height: 110px;
    font-size: 36px;
    margin-left: 20px;
    margin-right: 20px;
}
